body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// variables 
$bgColor: #E5E8E8;
$bgColor2: #F08080;
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// importing other scss files
@import './reviews/reviews',
'./app/app',
url('https://fonts.googleapis.com/css2?family=Cairo&family=Staatliches&display=swap');